/***********************MOBILE****************************************/
@media only screen and (max-width: 859px) {
    .landing-one {
        background: #03FF95;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .landing-one-header {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: #121212;
    }
    /*.landing-one img {
        margin-left: 18px;
    }*/
    .landing-one-header-right {
        display: flex;
        align-items: center;
        margin-right: 18px;
    }
    .btn-landing {
        background-color: #03FF95;
        color: #121212;
        font-family: 'Poppins-Light';
        font-size: 12px;
        font-weight: bold;
        padding: 0 16px;
        height: 36px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        margin-left: 16px;
    }
    a {
        text-decoration: none;
        color: #121212;
    }
    .landing-one-text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Poppins-Light';
        font-size: 14px;
        line-height: 24px;
        padding-top: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing-one-title {
        text-transform: uppercase;
        color: white;
        margin-bottom: 30px;
        padding: 40px 20px;
    }
    .landing-one-title-underline {
        color: #222;
        text-decoration: underline white 4px solid;
        padding-bottom: 3px;

    }
    .landing-one-last-text {
        color: #222;
    }
    .landing-btn-group {
        margin-top: 60px;
    }
    .landing-one-btn {
        background-color: #222;
        border-radius: 7px;
        padding: 0 20px;
        height: 42px;
        color: white;
        font-weight: bold;
        font-family: 'Poppins-Light';
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
    }
    .landing-one-subtitle {
        font-family: 'Poppins-Light';
        font-size: 12px;
        color: white;
        margin-top: 10px;
    }
    .landing-one-img {
        margin-top: 50px;
        padding-bottom: 80px;
    }

    .landing-one-img img {
        width: 300px;
        
    }
    .landing-dropdown-content {
        background-color: #f9e021;
        /*display: none;*/
        position: absolute;
        z-index: 1;
        margin-top: 35px;
        margin-bottom: 0;
        left: 0;
        right: 0;
        padding-left: 40px;
        padding-right: 40px;

    }
    .landing-dropdown-content li {
        list-style: none;
        color: #222;
        font-family: 'Poppins-Regular';
        font-size: 12px;
        font-weight: bold;
        padding: 15px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid rgba(34,34,34,.05);
        
    }
    .landing-dropdown {
        display: inline-block;

    }
    .landing-dropdown-icon {
        margin-left: 20px;
        z-index: 2;
        
    }
    .landing-dropdown-content-desktop li, .landing-dropdown-content-desktop {
        display: none;
    }
}


/********************************DESKTOP****************************************/
@media only screen and (min-width: 860px) {
    .landing-one {
        background: #03FF95;
        width: 100%;
        position: relative;
    }
    .landing-one-header {
        height: 60px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*width: 100%;*/
        position: sticky;
        top: 0;
        background-color: #121212;
        box-shadow: 0 0 1px rgb(0 0 0 / 15%);
    }
    .landing-one-header-right {
        display: flex;
        align-items: center;
    }
    .btn-landing {
        background-color: #03FF95;
        
        font-family: 'Poppins-Light';
        font-size: 12px;
        font-weight: bold;
        padding: 0 16px;
        height: 36px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        margin-left: 16px;
    }

    a {
        text-decoration: none;
        color: #121212;
    }
    .landing-dropdown-icon {
        display: none;
        margin-left: 20px;
        z-index: 2;      
    }
    .landing-dropdown-content-desktop {
        background-color: #121212;
        /*display: none;*/
        /*position: absolute;
        z-index: 1;
        margin-top: 35px;
        margin-bottom: 0;
        left: 0;
        right: 0;
        padding-left: 40px;
        padding-right: 40px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .landing-dropdown-content-desktop li {
        list-style: none;
        color: white;
        font-family: 'Poppins-Regular';
        font-size: 12px;
        font-weight: 600;
        padding: 15px 0px;
        margin-left: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .landing-one-container {
        display: flex;
        align-items: center;
        padding: 100px 0 180px 0;
    }
    .landing-one-container-text {
        display: block;
        margin-left: 40px;
        margin-right: 20px;
        padding: 20px 80px;
    }
    .landing-one-text {
        display: flex;
        align-items: center;
        width: 100%;
        font-family: 'Poppins-Regular';
        font-size: 14px;
        line-height: 24px;
    }
    .landing-one-title {
        text-transform: uppercase;
        color: white;
        margin-bottom: 48px;
        margin-top: 0;
        font-size: 55px;
        letter-spacing: -.4px;
        line-height: 1.08333em;
        
    }
    .landing-one-title-underline {
        color: #222;
        text-decoration: underline white 4px solid;
        padding-bottom: 3px;

    }
    .landing-one-last-text {
        color: #222;
        font-size: 16px;
        font-family: 'Poppins-Regular';
        line-height: 28px;
        width: 40%;
    }
    .landing-btn-group {
        margin-top: 60px;
    }
    .landing-one-btn {
        background-color: #222;
        color: white;
        border-radius: 7px;
        padding: 0 20px;
        height: 42px;
        font-weight: bold;
        font-family: 'Poppins-Light';
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
    }

    .landing-one-btn a {
        color: white;
    }


    .landing-one-subtitle {
        font-family: 'Poppins-Light';
        font-size: 12px;
        color: white;
        line-height: 20px;
    }
    .landing-one-img {        
        
        margin: 0 auto;
    }

    .landing-one-img img{
        width: auto;
    }

}