/****MOBILE****/
@media only screen and (max-width: 859px) {
    .landing-two {
        width: 100%;
        position: relative;
        background-color: #03FF95;

    }
    .landing-two-mainbg {
        background-color: #121212;
        transition: 1s;
        padding-bottom: 80px;
    }
    .landing-two-secondbg {
        background-color: #121212;
        width: 100%;
        position: relative;    
    }
    .landing-two-h2-underline {
        text-transform: uppercase;
        color: white;
        text-decoration: underline #03FF95 6px solid;
        text-underline-offset: 4px;
    }
    .landing-two-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-two-p {
        font-family: 'Poppins-Light';
        font-size: 14px;
        line-height: 1.6;
        color: white;
        margin-bottom: 50px;
    }

    .landing-two-img {
        width: 300px;
        
    }
    .landing-two-div-one {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .landing-two-div-second {
        padding-top: 80px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .landing-two-div-three {
        padding-top: 80px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .landing-two-div-three-group {
        margin-bottom: 24px;
    }
    .landing-two-div-three-title {
        text-transform: uppercase;        
        color: white;
        margin-top: 4px;
        margin-bottom: 4px;
        Line-height: 40px;
        font-weight: 900;
        
    }
    .landing-two-div-three-image {
        margin-top: 24px;
    }
    .landing-two-div-three-container {
        width: 100%;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

   
    .landing-two-div-three-text {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        line-height: 24px;
        color: white;

    }
    .landing-two-div-four {
        padding-top: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fdf7d4;
    }
    .landing-two-div-four-bg {
        padding-top: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #f9e021;
    }
    .landing-two-div-four-title {
        text-transform: uppercase;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        padding: 40px 20px;   
    }

    .four-span {
        color: #222;
        text-decoration: underline white 4px solid;         
    }

    .landing-two-div-four-divs {
        padding-top: 10px;
    }
    .landing-two-div-four-divs-p {
        display: flex;
        margin-bottom: 25px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Poppins-Light';
        font-size: 14px;
        line-height: 24px;
        padding-top: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .last-span {
        font-weight: bold;
        text-decoration: underline white 2px solid;
    }
    .landing-two-div-last {
        background-image: url(../../Assets/Images/recuadro.png);
    }
    .landing-two-div-second-desktop-images {
        display: none;
    }
    .landing-two-div-four-container {
        display: flex;
        flex-direction: column;
    }

    .landing-two-div-four-divs-p{
        flex-direction: column;
    }

    .carousel{
        background: white;
    }

    .carousel .slide img {
        width: 50px;
        
    }

    .carousel-img {
        width: 180px !important;
        padding: 0 20px;
    }

    .seccion-carrusel-desktop{
        display: none;
    }

    .carousel-group {
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flickity-prev-next-button {
        width: 50px;       
    }
    .landing-two-div-three-desktop, .landing-two-div-three-container-desktop, .landing-two-div-three-group-desktop
    .landing-two-div-three-image-desktop, .landing-two-div-three-text-desktop, .landing-two-div-three-title-desktop {
        display: none;
    }

    .flickity-prev-next-button, .flickity-page-dots  {
        display: none;
    }
    
}

/****DESKTOP*****/
@media only screen and (min-width: 859px) {
    .landing-two {
        width: 100%;
        position: relative;
        background-color: #03FF95;
    }
    .landing-two-div-one {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .landing-two-h2-underline {
        text-transform: uppercase;
        color: white;
        text-decoration: underline #03FF95 6px solid;
        text-underline-offset: 4px;
        margin-bottom: 42px;
        font-size: 55px;
        Line-height: 86.57px;        
        
        
    }
    .landing-two-block{
        display: flex;
        justify-content: space-between;
    }

    .landing-two-p {
        font-family: 'Poppins-Light';
        font-size: 20px;
        line-height: 1.6;
        color: white;
        width: 30%;        
    }

    .landing-two-img{
        margin-right: 100px;
    }


    .landing-two-mainbg {
        background-color: #121212;
        transition: 1s;
        padding-bottom: 20px;
    }
    .landing-two-secondbg {
        background-color: #f9e021;
        width: 100%;
        position: relative;    
    }
    .landing-two-div-second {
        display: none;
    }
    .landing-two-div-second-desktop {
        padding-top: 80px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .landing-two-div-second-desktop-images {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*.carousel {
        display: none;
    }*/

    .landing-two-div-three-desktop {
        padding-top: 80px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .landing-two-div-three-slider {
        display: flex;
    }
    .landing-two-div-three-group-desktop {
        margin-bottom: 24px;
    }
    .landing-two-div-three-title-desktop {
        text-transform: uppercase;        
        color: white;
        margin-top: 4px;
        margin-bottom: 4px;
        Line-height: 40px;
        font-weight: 900;
        font-size: 25px;
    }
    .landing-two-div-three-image-desktop {
        margin-top: 24px;
    }
    .landing-two-div-three-container-desktop {
        width: 45vw;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 200px;
    }

    .landing-two-div-three-text-desktop {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        line-height: 24px;
        color: white;

    }
    .image-carousel {
        max-width: 148px;
        display: block;
        width: 11.88755%;
        margin-right: 84px;
    }
    .landing-two-div-four-container {
        position: relative;
        width: 100%;
        padding: 100px 0 32px;
        background-color: #03FF95;
    }
    .landing-two-div-four {
        padding-top: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fdf7d4;
    }
    .landing-two-div-four-bg {
        padding-top: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #f9e021;
    }
    .landing-two-div-four-title {
        text-transform: uppercase;
        color: white;
        text-align: center;
        margin-bottom: 48px;
        font-size: 55px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .four-span {
        color: #222;
        text-decoration: underline white 6px solid;
        
    }
    .landing-two-div-four-divs {
        display: flex;
        justify-content: center;
        padding: 40px 40px 0 40px;
    }
    .landing-two-div-four-divs-p {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 25px;
        color: #222;
        font-size: 16px;
        padding: 0 32px;
        
    }
    .landing-two-div-four-divs-p p {
        margin-top: 0;
        margin-left: 10px;
        width: 40%;
        font-size: 24px;
    }
    .landing-two-div-four-image {
        width: 300px;
    }
    .last-span {
        color: #222;
        font-weight: bold;
        text-decoration: underline white 2px solid;
    }
    .carousel {
        display: block;
        background: white;
        background-size: cover;
        background-repeat: no-repeat;
        color: #121212;
    }
    .carousel p {
        font-size: 16px;
        line-height: 28px;
    }
    .carousel-img {
        width: 200px !important;
    }
    .carousel-group {        
        width: 400px;        
        padding-top: 100px;
        padding-bottom: 100px;
        
    }
    .carousel .slide img {
        width: 20%;
        vertical-align: top;
        border: 0
    }
    .flickity-prev-next-button, .flickity-page-dots  {
        display: none;
    }


    .carrusel-flex{
        display: flex;
        color: white;
        padding: 20px 0 100px;
    }

    
    
}