@media only screen and (max-width: 859px) { /**********************MOBILE***************************/
    .header {
        background: #121212 fixed no-repeat;
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }
    .header-style {
        /*position: absolute;*/
        /*width: 100%;*/
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 18px;
    }

    .video-mobile {
        background: fixed no-repeat;
        position: relative;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        z-index: -1;
    }
    /*.header-video-btn {
        display: none;
        position: absolute;
        top: 20px;
        right: 24px;
        border-radius: 7px;
        border: 2px white solid;
        color: white;
        font-family: 'Poppins-Regular';
        font-size: 14px;
        background-color: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        cursor: pointer;
        padding: 0 20px;
        height: 42px;
    }*/
    

    .last-text {
        font-family: 'Poppins-Light';
        font-size: 14px;
        color: white;
        width: 100%;
        margin: 44px auto;
        line-height: 24px;

    }
    span {
        font-weight: bold;
        color: #03FF95;
    }
    .header-title {
        text-transform: uppercase;
        color: white;
        line-height: 44px;
    }
    .header-subtitle {
        font-family: 'Poppins-Light';
        font-size: 12px;
        color: #ffffff66;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .btn-home {
        background-color: #2FFF99;
        border-radius: 7px;
        padding: 0 20px;
        height: 42px;
        color: #000;
        font-weight: bold;
        font-family: 'Poppins-Light';
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        
    }
    .btn-home a {
        text-decoration: none;
        color: #000;
    }
    .header-text {
        padding-top: 60px;
        padding-bottom: 44px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;      
    }
    .span-style {
        text-decoration: underline;
        font-weight: bold;
        color: white;
    }
    .dropdown-content {
        background-color: #121212;
        /*display: none;*/
        position: absolute;
        z-index: 1;
        margin-top: 35px;
        margin-bottom: 0;
        left: 0;
        right: 0;
        padding-left: 40px;
        padding-right: 40px;
        height: 100vh;

    }
    .dropdown-content li {
        list-style: none;
        color: #FFFFFF;
        font-family: 'Poppins-Regular';
        font-size: 12px;
        padding: 15px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid hsla(0,0%,100%,.05);    
    }
    .dropdown-content-desktop li, .dropdown-content-desktop {
        display: none;
    }
    .dropdown {
        display: inline-block;

    }
    .dropdown-icon {
        margin-left: 20px;
        z-index: 2;
        
    }
    .header-horizontal-scroll, .wrapper, .section, .video-mobile-desktop {
        display: none;
    }

    /*************MODAL*********************/
    /*.modal-container {
        display: none;
        position: relative;
        max-width: 548px;
        width: 60%;
        background: #fdf7d4;
        border-radius: 8px;
        padding: 39px 25px;
    }
    .modal-title {
        display: none;
        text-transform: uppercase;
        color: rgb(34, 34, 34)
    }
    .modal-group {
        display: none;
        display: block;

    }
    .modal-group-btn {
        display: none;
        color: #fff;
        width: 100%;
        border-radius: 7px;
        padding: 0 20px;
        height: 42px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        font-family: 'Poppins-Regular';
        font-size: 14px;
        background-color: rgb(34, 34, 34);
        border: none;
    }
    .modal-copy-group {
        display: none;
        margin-top: 29px;
        display: flex;
        align-items: center;
    }
    .modal-ytb {
        display: none;
        font-size: 14px;
        font-family: 'Poppins-Regular';
        background: #f9e021;
        padding: 6px 16px;
        border-radius: 10px;
        font-weight: bold;
        margin-right: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .modal-copy-btn {
        display: none;
        background-color: #fdf7d4;
        color: #222;
        font-family: 'Poppins-Regular';
        border: none;
        font-weight: bold;
    }
    .modal-copied {
        display: none;
        color: #f9e021;
        font-family: 'Poppins-Regular';
        font-size: 12px;

    }*/
}






/****************************DESKTOP***********************************************/
@media only screen and (min-width: 860px) {
    .header {
        position: relative;
        background-color: #121212;
        top: 0;
        left: 0;
        height: 100vh;
        width: 85%;
    }
    .header-style {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        height: 60px;
        padding-top: 24px;
    }
    .video-mobile {
        display: none;
    }
    .video-mobile-desktop {
        position: absolute;
        object-fit: cover;
        right: 0;
        top: 0;
        left: 0;
        height: 100%;
        margin: auto;
        z-index: -1;
    }
    /*video {
        width: 100%;
    }*/
    .dropdown-icon {
        display: none;
        margin-left: 20px;
        z-index: 2;      
    }
    .dropdown-content-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /*position: absolute;
        width: 100%;*/
        left: 75%;
        transform: translate3d(-50%,0,0);
        
    }
    .dropdown-content-desktop li {
        font-family: 'Poppins-Regular';
        list-style: none;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 500;
        margin-left: 24px;
    }
    /*.dropdown-content-desktop li::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: 0 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        transition: transform .2s ease-in-out;
        background-image: url(/_nuxt/img/underline-yellow.e4a40ae.svg);
    }*/
    
    ::-webkit-scrollbar {
        display:none;
    }
    .container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transform: rotate(-90deg);
    }
    .content {
        transform: rotate(90deg);
    }
    .scroll {
        position: absolute;
        height: 5px;
        width: 0;
        background-color: #fff;
        top: 0;
        left: 0;
    }

    .header-text {
        padding-top: 60px;
        padding-bottom: 44px;
        width: 50%;
        margin-left: 40px;
        margin-right: auto;      
    }
    .last-text {
        font-family: 'Poppins-Regular';
        font-size: 16px;
        color: white;
        width: 100%;
        margin: 44px auto;
        line-height: 28px;

    }
    .span-style {
        font-weight: bold;
        text-decoration: underline;
        color: #fff;
    }
    .header-title {
        text-transform: uppercase;
        color: white;
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 55px;
        width: 150%;
        min-height: 200px;

    }
    .header-subtitle {
        font-family: 'Poppins-Regular';
        font-size: 12px;
        color: #ffffff66;
        margin-top: 6px;
        margin-bottom: 6px;
        line-height: 20px;
    }
    .btn-home {
        background-color: #2FFF99;
        border-radius: 7px;
        padding: 0 20px;
        height: 42px;
        color: #000;
        font-weight: bold;
        font-family: 'Poppins-Regular';
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        
    }
    .btn-home a {
        text-decoration: none;
        color: #000;
    }
    span {
        font-weight: bold;
        color: #03FF95;
    }
    
}